apiVersion: v1
kind: Service
metadata:
  name: dashboard-svc
  namespace: nginx-ingress
spec:
  ports:
  - port: 80 
    targetPort: 9000
    protocol: TCP
    name: dashboard
  selector:
    app: nginx-ingress
---
apiVersion: networking.k8s.io/v1beta1
kind: Ingress
metadata:
  name: dashboard-ingress
  namespace: nginx-ingress
  # use annotations with k8s version < 1.18.0
  annotations:
    kubernetes.io/ingress.class: "nginx"
spec:
  # ingressClassName: nginx # use only with k8s version >= 1.18.0
  tls:
  - hosts:
    - "nginx.{{local_domain}}"
    secretName: default-server-secret
  rules:
  - host: "nginx.{{local_domain}}"
    http:
      paths:
      - path: /dashboard.html
        backend:
          serviceName:  dashboard-svc
          servicePort: 80
      - path: /api
        backend:
          serviceName:  dashboard-svc
          servicePort: 80
---
apiVersion: "cis.f5.com/v1"
kind: IngressLink
metadata:
  name: vs-dashboard.ingresslink
  namespace: nginx-ingress
spec:
  virtualServerAddress: "{{nginx_dashboard_address}}"
  host: "nginx.{{local_domain}}"
  iRules:
    - /Common/Proxy_Protocol_iRule
  selector:
    matchLabels:
      app: nginx-ingress          